{# 首页 登录 注册 的父模板 #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load staticfiles%}
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href={% static 'books/css/reset.css'%}>
	<link rel="stylesheet" type="text/css" href={% static 'books/css/main.css' %}>
	<script type="text/javascript" src={% static 'books/js/jquery-1.12.4.min.js'%}></script>
	<script type="text/javascript" src={% static 'books/js/jquery-ui.min.js'%}></script>
	<script type="text/javascript" src={% static 'books/js/slide.js'%}></script>
	{% block topfiles%} {% endblock %}
</head>
<body>
{% block buycart %}	
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到科技书城!</div>
			{% if request.session.islogin %}
				<div class="login_btn fl">
				    欢迎您：<em>{{ request.session.username }}</em>
				    <span>|</span>
				    <a href="{% url 'user:logout' %}">退出</a>
				</div>
				{% else %}
				<div class="login_btn fl">

				    <a href="{% url 'user:login' %}">登录</a>
				    <span>|</span>
				    <a href="{% url 'user:register' %}">注册</a>
				</div>
				{% endif %}

				<div class="user_link fl">
					<span>|</span>
					<a href="{% url 'user:user' %}">用户中心</a>
					<span>|</span>
					<a href="{% url 'cart:show'%}">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>	

	
		<div class="search_bar clearfix">
		<a href="{% url 'books:index'%}" class="logo fl"><img src="/static/books/images/logo.png" style="width: 160px; height: 53px;"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="{% url 'cart:show'%}" class="cart_name fl">我的购物车</a>
			<div class="book_count fl" id="show_count">1</div>
		</div>
	</div>
	{% endblock %}
{# 获取用户购物车中商品的数目 #}
    {% block cart_count %}
        <script>
            $.get('/cart/count/', function (data) {
                // {'res':商品的总数}
                $('#show_count').html(data.res)
            })
        </script>
    {% endblock cart_count %}
{% block body %}
{# 网页顶部主体模块#}
{% endblock %}

		<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		{% block bottom %}{#底部补充模块#}{% endblock %}
		<p>CopyRight © 2016 北京尚硅谷信息技术有限公司 All Rights Reserved</p>
		<p>电话：010-****888    京ICP备*******8号</p>
	</div>
</body>
<span>extends</span>>
</html>	
