{% extends 'base.html'%}
{% load staticfiles %}
{% block body %}
{% block title %}书城首页{% endblock %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">移动端书城</a></li>
				<li class="interval">|</li>
				<li><a href="">秒杀</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="python">Python</a></li>
			<li><a href="#model02" class="javascript">Javascript</a></li>
			<li><a href="#model03" class="algorithms">数据结构与算法</a></li>
			<li><a href="#model04" class="machinelearning">机器学习</a></li>
			<li><a href="#model05" class="operatingsystem">操作系统</a></li>
			<li><a href="#model06" class="database">数据库</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src= {% static 'books/images/slide.jpg'%} alt="幻灯片" style="width: 760px; height: 270px;"></li>
				<li><img src={% static 'books/images/slide02.jpg' %} alt="幻灯片" style="width: 760px; height: 270px;"></li>
				<li><img src="/static/books/images/slide03.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></li>
				<li><img src="/static/books/images/slide04.jpg" alt="幻灯片" style="width: 760px; height: 270px;"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/books/images/adv01.jpg" style="width: 240px; height: 135px;"></a>
			<a href="#"><img src="/static/books/images/adv02.jpg" style="width: 240px; height: 135px;"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">Python</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">Python核心编程</a>
				<a href="#">笨办法学Python</a>
				<a href="#">Python学习手册</a>
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>
{% csrf_token %}
		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner01.jpg"></div>
			<ul class="book_list fl">
				{% for python_item in python_new%}

				<li>
					<h4><a href="/books/books/{{python_item.id}}/">{{ python_item.name }}</a></h4>
					<a href="{% url 'books:detail' books_id=python_item.id %}"><img src={% static python_item.image %}></a>
					<div>{{python_item.id}}</div>
					<div class="prize">¥ {{python_item.price}}</div>
				</li>

				{% endfor%}

				<!-- <li>
					<h4><a href="#">Python核心编程</a></h4>
					<a href="#"><img src="/static/books/images/book001.jpg"></a>
					<div class="prize">¥ 30.00</div>
				</li>
				<li>
					<h4><a href="#">Python学习手册</a></h4>
					<a href="#"><img src="/static/books/images/book002.jpg"></a>
					<div class="prize">¥ 5.50</div>
				</li>
				<li>
					<h4><a href="#">Python Cookbook</a></h4>
					<a href="#"><img src="/static/books/images/book003.jpg"></a>
					<div class="prize">¥ 3.90</div>
				</li> -->
				<li>
					<h4><a href="#">Python高性能编程</a></h4>
					<a href="#"><img src="/static/books/images/book004.jpg"></a>
					<div class="prize">¥ 25.80</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">Javascript</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">Javascript高级编程</a>
				<a href="#">Javascript语言精粹</a>				
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner02.jpg"></div>
			<ul class="book_list fl">
				<li>
					<h4><a href="#">Javascript高级程序设计</a></h4>
					<a href="#"><img src="/static/books/images/book005.jpg"></a>
					<div class="prize">¥ 48.00</div>
				</li>
				<li>
					<h4><a href="#">Javascript权威指南</a></h4>
					<a href="#"><img src="/static/books/images/book006.jpg"></a>
					<div class="prize">¥ 46.00</div>
				</li>
				<li>
					<h4><a href="#">Javascript语言精粹</a></h4>
					<a href="#"><img src="/static/books/images/book007.jpg"></a>
					<div class="prize">¥ 19.00</div>
				</li>
				<li>
					<h4><a href="#">Javascript DOM编程艺术</a></h4>
					<a href="#"><img src="/static/books/images/book008.jpg"></a>
					<div class="prize">¥ 25.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">数据结构与算法</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">算法导论</a>
				<a href="#">数据结构与算法分析</a>
				<a href="#">计算机程序设计艺术</a>
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner03.jpg"></div>
			<ul class="book_list fl">
				<li>
					<h4><a href="#">数据结构与算法分析</a></h4>
					<a href="#"><img src="/static/books/images/book009.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">算法导论</a></h4>
					<a href="#"><img src="/static/books/images/book010.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">算法</a></h4>
					<a href="#"><img src="/static/books/images/book011.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">计算机程序设计艺术</a></h4>
					<a href="#"><img src="/static/books/images/book012.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">机器学习</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">机器学习</a>
				<a href="#">统计学习方法</a>
				<a href="#">集体智慧编程</a>
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner04.jpg"></div>
			<ul class="book_list fl">
				<li>
					<h4><a href="#">机器学习</a></h4>
					<a href="#"><img src="/static/books/images/book013.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">机器学习实战</a></h4>
					<a href="#"><img src="/static/books/images/book014.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">统计学习方法</a></h4>
					<a href="#"><img src="/static/books/images/book015.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">集体智慧编程</a></h4>
					<a href="#"><img src="/static/books/images/book016.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">操作系统</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">UNIX环境高级编程</a>
				<a href="#">深入理解计算机系统</a>
				<a href="#">现代操作系统</a>
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner05.jpg"></div>
			<ul class="book_list fl">
				<li>
					<h4><a href="#">现代操作系统</a></h4>
					<a href="#"><img src="/static/books/images/book017.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">深入理解计算机系统</a></h4>
					<a href="#"><img src="/static/books/images/book018.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">UNIX环境高级编程</a></h4>
					<a href="#"><img src="/static/books/images/book019.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">鸟哥的私房菜</a></h4>
					<a href="#"><img src="/static/books/images/book020.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">数据库</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">数据库系统概念</a>
				<a href="#">高性能MySQL</a>
				<a href="#">MySQL必知必会</a>
			</div>
			<a href="#" class="book_more fr">查看更多 ></a>
		</div>

		<div class="book_con clearfix">
			<div class="book_banner fl"><img src="/static/books/images/banner06.jpg"></div>
			<ul class="book_list fl">
				<li>
					<h4><a href="#">数据库系统概念</a></h4>
					<a href="#"><img src="/static/books/images/book021.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">高性能MySQL</a></h4>
					<a href="#"><img src="/static/books/images/book022.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">Redis实战</a></h4>
					<a href="#"><img src="/static/books/images/book023.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">Redis设计与实现</a></h4>
					<a href="#"><img src="/static/books/images/book024.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}